<!--

<div class= "container">
    <div class="row" style="margin-left:400px; margin-right:400px;">
    <div class="column-md-12-centered">
          <!-- <h6 align="center">Leave Balance </h6> 
  
      <!-- <h6>Emplooyee Name:-><b>{{findEmpName(leaveDetailsByLeaveId.leaveEmpId)}}</b></h6> 



      <!-- <div><span>EmpId:-></span><span><input  type="text" value="{{leaveDetailsByLeaveId.leaveEmpId}}"> </span></div> 
      <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Employeee ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPassword" value="{{leaveDetailsByLeaveId.leaveEmpId}}">
            </div>
          </div>
      
      
      
      <h6>Leave Id:-> <b>{{leaveDetailsByLeaveId.leaveId}} </b></h6>
    <h6>Start Date:-><b> {{leaveDetailsByLeaveId.startDate}} </b></h6>
    <h6>End Date:-> <b>{{leaveDetailsByLeaveId.endDate}} </b></h6>
    <h6>Number of Days :-><b>{{leaveDetailsByLeaveId.noOfDays}} </b></h6>
    <h6>Leave Type :-><b> {{leaveDetailsByLeaveId.leaveType}} </b></h6>
    <h6> <i>Reason :-><b>{{leaveDetailsByLeaveId.reason}}</b></i></h6>
    
   <h6> <b>Comments<sup>*</sup></b> <input class="form-control" type="text" placeholder="Please Type Here" name="comments" [(ngModel)]= "managerComments" required></h6>
</div>
    <p></p><!--<input id="leaveId" type ="number" [(ngModel)]="leaveId"/>
    choice<input id="choice" type="number" [(ngModel)]="choice"/> 
    
    <button (click)="approveDeny()" class="btn btn-success" [disabled]="managerCommentsEnable()">Approve</button>
    <router-outlet></router-outlet>
    
    <button (click)="deny()" class="btn btn-danger" [disabled]="managerCommentsEnable()">Deny</button>
    <button (click)="goBack()" class="btn btn-primary">Cancel</button>
  
  
  </div>
  </div> -->
  <div class="background-wrap">
    <div class="background"></div>
  </div>
  
  <form id="accesspanel" action="login" method="post">
    <h1 id="litheader">APPROVE/DENY</h1>
    <div class="inset">
      <table>
        <tr>
      <th><p>
        Employee Name : <b><input type="text" value="{{findEmpName(leaveDetailsByLeaveId.leaveEmpId)}}" readonly></b>
      </p></th>
      <th><p>
        Employee ID : <b><input type="text" value="{{leaveDetailsByLeaveId.leaveEmpId}}" readonly> </b>
      </p></th>
      <tr>
     <th> <p>
        Leave ID : <b><input type="text" value="{{leaveId}}" readonly> </b>
      </p></th>
      <th><p>
        Start Date : <b><input type="text" value="{{startDate}}" readonly> </b>
      </p></th></tr>
      <tr>
     <th> <p>
        End Date : <b><input type="text" value="{{endDate}}" readonly> </b>
      </p></th>
      <th> <p>
          Number of Days : <b><input type="text" value="{{noofDays}}" readonly> </b>
        </p></th>
    </tr>
    <tr>
    
    <th><p>
        Leave Type : <b><input type="text" value=" {{type}}" readonly> </b>
      </p></th>
    <th><p>
        Reason : <b><input type="text" value="{{reason}}" readonly></b>
      </p></th>
    </tr>
    <tr>
      <th colspan=2>
        <p>
            <b>Comments<sup>*</sup></b> <input class="form-control" type="text" placeholder="Please Type Here" name="comments" [(ngModel)]= "managerComments" required>
          </p></th>
    </tr>
     
  
       <!-- <div style="text-align: center;">
        <div class="checkboxouter">
          <input type="checkbox" name="rememberme" id="remember" value="Remember">
          <label class="checkbox"></label>
        </div>
        <label for="remember">Remember me for 14 days</label>
      </div>
      <input class="loginLoginValue" type="hidden" name="service" value="login" /> -->
     
    </table>
    </div>
    
    <!-- <button type="button" class="btn btn-warning">Approve </button><b><button type="button" class="btn btn-warning">Deny</button></b><b><button type="button" class="btn btn-warning">Cancel</button></b> -->
    <div class="button1">
    <button (click)="approveDeny()" class="btn btn-success" [disabled]="managerCommentsEnable()">Approve</button>
    <button (click)="deny()" class="btn btn-danger" [disabled]="managerCommentsEnable()">Deny</button>
    <button (click)="goBack()" class="btn btn-warning">Cancel</button>
    </div>
  
  </form>
  