<div class="header-most-top">
		<p>Welcome <strong>{{currentUser}}</strong> Shop Easy Offer Zone Top Deals & Discounts</p>
	</div>
	<div class="col-md-8 header">
    
      <ul>

        <!-- <li>
          <a href="#" data-toggle="modal" data-target="#myModal1">
            <span class="fa fa-truck" aria-hidden="true"></span>Track Order</a>
        </li>
        -->
        <li>
          
          <a >
           Sign In </a>

        </li>
        <!-- <li>
          <a href="#" data-toggle="modal" data-target="#myModal2">
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Sign Up </a>
        </li> -->
      </ul>
     </div> 

  
    